<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean class = "com.di.Student" id ="stud">
	
<constructor-arg value = "88890"/> 
<constructor-arg value = "Ram"/> 
<constructor-arg value = "Rain"/> 
<constructor-arg value = "22"/> 
<constructor-arg value = "NCC"/> 
	
</bean>

<bean class = "com.di.Car" id="c1">
	<property name=" color" value="Red"/>
	<property name="price" value="9800000"/>
	<property name="model" value="BMW90477"/>
	
</bean>
<bean class = "com.di.Employee" id="emp">
	<property name="id" value="7777"/>
	<property name="name" value = "Suman Shrestha"/>
	<property name="salary" value = "70000"/>
	<property name="car" ref = "c1"/>
	
</bean>
</beans>
